<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h1 style="text-align: center;">Our Special Menu</h1>
        </div>
    </div>
    <ul class="nav nav-pills mb-3 mt-3 d-flex justify-content-center" role="tablist">
        <li style="text-align: center;" class="nav-item cursor-pointer mt-4" *ngFor="let item of types;let i = index">
            <a (click)="onclickFetch(item.id)" class="nav-link" data-toggle="pill" role="tab" aria-controls="justify-pills-home" [ngClass]="{'active': item.id==selectedId && selectedId !=0}">{{item.name}}</a>
        </li>
    </ul>

    <div class="row" style="margin-top: 30px;justify-content: center;">
        <div class=" col-md-4 col-sm-4 col-xs-4" style="margin-top: 30px;" *ngFor="let item of products">
            <!-- <div class="col-6" style="width: 5rem;height: 7rem;">
                <img [src]="item.url" alt="item.name" style="object-fit: cover;border-radius: 25px;width: 100%;height: 100%;object-fit: cover;box-shadow: 0 0 18px 2px;">
            </div> -->
            <div class="d-flex flex-column">
                <div class="d-flex" style="border-bottom: 1px dashed black;justify-content: space-between;">
                    <div class="name-product">
                        <h3>{{item.name}}</h3>
                    </div>
                    <div class="price" style="color: #f5d69d;">
                        <h6>{{item.price +"$"}}</h6>
                    </div>
                </div>
                <div class="description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>

</div>